<div class="span4">
  <div class="well">
    <h5>QUICK REGISTRATION</h5>
    <br/> Enter your e-mail address and password to create an account.
    <br/>
    <br/>
    <br/>
    <form>
      <div class="control-group">
        <label class="control-label" for="inputEmail">E-mail address</label>
        <div class="controls">
          <input class="span3" type="text" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Password</label>
        <div class="controls">
          <input class="span3" type="password" placeholder="password">
        </div>
      </div>
      <div class="controls">
        <button type="submit" class="btn block">Create Your Account</button>
      </div>
    </form>
  </div>
</div>