<div class="container" style="width:1240px;">
  <header id="header">
    <div class="row">
      <div class="span8">
        <h1>
          <a class="" href="index.html">
            <img src="assets/img/logo.png" alt="bootstrap sexy shop" style="width:120px; height: 50px; margin-top: 20px; padding:5px;">
          </a>
        </h1>
      </div>
   
      <div class="pull-right">
        <p>
          <br>
          <strong> Support (24/7) : +216 26 22 05 99 </strong>
          <br>
          <br>
        </p>
        <span class="btn btn-mini">[ 2 ]
          <span class="icon-shopping-cart"></span>
        </span>
        <span class="btn btn-warning btn-mini">$</span>
        <span class="btn btn-mini">&pound;</span>
        <span class="btn btn-mini">&euro;</span>
      </div>
    </div>
  </header>

  <!--
    Navigation Bar Section 
    -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="" [ngClass]="{'active': navClicked==='home'}" (click)="navClicked='home'" >
              <a [routerLink]="['']">Home </a>
            </li>
            <li class="" [ngClass]="{'active': navClicked=== category.name}" (click)="navClicked=category.name" *ngFor="let category of categories">
              <a [routerLink]="['/category/'+category.id]">{{category.name}}</a>
            </li>
            <li class="">
              <a href="list-view.html">...</a>
            </li>

          </ul>
          <form action="#" class="navbar-search pull-left">
            <input type="text" placeholder="Search" class="search-query span1">
          </form>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a *ngIf="!isLoggedIn" data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="icon-unlock"></span> Login
                <b class="caret"></b>
              </a>
              <a *ngIf="isLoggedIn" data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="icon-lock"></span> Logout
                <b class="caret"></b>
              </a>
              <div class="dropdown-menu">
                <form *ngIf="!isLoggedIn" class="form-horizontal loginFrm">
                  <div class="control-group">
                    <input type="text" class="span2" id="inputEmail" placeholder="Email">
                  </div>
                  <div class="control-group">
                    <input type="password" class="span2" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="control-group">
                    <label class="checkbox">
                      <input type="checkbox"> Remember me
                    </label>
                    <button type="submit" class="shopBtn btn-block">Sign in</button>
                  </div>
                </form>
                <div *ngIf="isLoggedIn" class="form-horizontal loginFrm">
                  <div class="control-group">
                    <button (click)="onLogoutClicked()" class="shopBtn btn-block">Yes</button>
                  </div>
                  <div class="control-group">
                    <button class="shopBtn btn-block">No</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>