<div class="navbar navbar-inverse navbar-fixed-top " style="margin-top:40px;" *ngIf="showMessage" [@enterAnimation]>
  <div class="topNav undernabar">
    <div class="container" style="width: 1440px;">
      <div class="container">
        In order to complete your registration please complete your information...
        <a href="#" [routerLink]="['profile']" (click)="showMessage= false">
          <span class="icon-edit"></span> Yes </a>

        <a href="#" (click)="showMessage = false">
          <span class="icon-edit"></span>No </a>

      </div>
    </div>
  </div>
</div>
<div class="container" style="width:1440px; margin-top: 67px;">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="" [ngClass]="{'active': navClicked==='home'}" (click)="navClicked='home'">
              <a [routerLink]="['']">Home </a>
            </li>
            <li class="" [ngClass]="{'active': navClicked=== category.name}" (click)="navClicked=category.name" *ngFor="let category of categories">
              <a [routerLink]="['/category/'+category.id]">{{category.name}}</a>
            </li>
            <li class="">
              <a href="list-view.html">...</a>
            </li>

          </ul>

          <ul class="nav pull-right">

            <li>
              <form action="#" class="navbar-search pull-left">
                <input type="text" placeholder="Search" class="search-query span1">
              </form>
            </li>

            <li class="dropdown">
              <a *ngIf="!isLoggedIn" data-toggle="dropdown" class="dropdown-toggle">
                <span class="icon-unlock"></span> Login
                <b class="caret"></b>
              </a>
              <a *ngIf="isLoggedIn" data-toggle="dropdown" class="dropdown-toggle">
                <span class="icon-lock"></span> Logout
                <b class="caret"></b>
              </a>
              <div class="dropdown-menu">
                <form *ngIf="!isLoggedIn" class="form-horizontal loginFrm">
                  <div class="control-group">
                    <input type="text" class="span2" id="inputEmail" placeholder="Email">
                  </div>
                  <div class="control-group">
                    <input type="password" class="span2" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="control-group">
                    <label class="checkbox">
                      <input type="checkbox"> Remember me
                    </label>
                    <button type="submit" class="shopBtn btn-block">Sign in</button>
                  </div>
                </form>
                <div *ngIf="isLoggedIn" class="form-horizontal loginFrm">
                  <div class="control-group">
                    <button (click)="onLogoutClicked()" class="shopBtn btn-block">Yes</button>
                  </div>
                  <div class="control-group">
                    <button class="shopBtn btn-block">No</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>