<div class="span12" style="margin-left: 40px;">
  <div class="row">
    <div class="fb-profile" *ngIf="business">
      <img align="left" class="fb-image-lg" src="{{business.coverPicture}}" alt="Profile image example" />
      <img align="left" class="fb-image-profile thumbnail" src="{{business.logo}}" alt="Profile image example" />
      <div class="fb-profile-text well">
        <h4>{{business.pageName}}</h4>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="span7 white-bg" style="margin-top:-0px;">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#home">General</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu1">Work Time</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu2">Social</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu2">Stat</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="welcome-message" style="padding: 20px;">
            <h3>Welcome to Your New Page</h3>
            <p>Before you share your Page with others, try these tips that help you describe your business, brand or organization.
              We'll give you more tips later.</p>
          </div>
          <div style="padding: 20px;">
            <app-business-general-settings [business]="business"></app-business-general-settings>
          </div>
        </div>

        <div id="menu1" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Some content in menu 2.</p>
        </div>
      </div>
    </div>

    <div class="span5">
      <div class="pull-left">
        <div class="col-md-5">
          <small>
            <b>Visible</b>
          </small>
          <div class="onoffswitch4">
            <input type="checkbox" name="onoffswitch4" class="onoffswitch4-checkbox" id="myonoffswitch4" checked>
            <label class="onoffswitch4-label" for="myonoffswitch4">
              <span class="onoffswitch4-inner"></span>
              <span class="onoffswitch4-switch"></span>
            </label>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <b>
        <small>Description:</small>
      </b>
      <p style="text-align: justify;">{{business.description}}</p>
      <div>
        <small>
          <b>What are you selling:</b>
        </small>
        <a [popover]="myPopover" (click)="checkCategories()">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          edit.
        </a>
        <popover-content #myPopover title="Categories" placement="right" [animation]="true" [closeOnClickOutside]="true">
          <small>Lorem ipsum dolor sit amet consectetur.</small>
          <div class="col-md-6">
            <div class="todolist not-done">
              <br>
              <input type="text" class="form-control add-todo" placeholder="search...">
              <ul id="sortable" class="list-unstyled">
                <li class="ui-state-default" *ngFor="let c of allCategories">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="" (change)="c.selected=!c.selected;updateCategories()" [attr.checked]="c.selected" />{{c.name}}</label>
                  </div>
                </li>
              </ul>
              <div style="text-align: center;">
                <br>
                <button id="checkAll" class="btn btn-success" (click)="updateBusiness()">validate.</button>
              </div>

            </div>
          </div>
        </popover-content>
        <div *ngIf="loadingCategories" class="col-sm-12">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
        <br>
        <div class="pull-left">
          <span *ngFor="let c of categories" class="label label-info">{{c.name}}</span>
        </div>
        <br>
        <br>

        <div class="text-left">
          <small>
            <b>Social:</b>
          </small>
          <br />
          <a href="https://www.facebook.com/bootsnipp">
            <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
          </a>
          <a href="https://twitter.com/bootsnipp">
            <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
          </a>
          <a href="https://plus.google.com/+Bootsnipp-page">
            <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
          </a>
          <a href="mailto:bootsnipp@gmail.com">
            <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
          </a>
        </div>




      </div>



    </div>
  </div>