<h3> Login</h3>
<hr class="soft" />
<div class="row">
  <div class="span4">
    <div class="well">
      <h5>CREATE YOUR ACCOUNT</h5>
      <br/> Enter your e-mail address to create an account.
      <br/>
      <br/>
      <br/>
      <form>
        <div class="control-group">
          <label class="control-label" for="inputEmail">E-mail address</label>
          <div class="controls">
            <input class="span3" type="text" placeholder="Email">
          </div>
        </div>
        <div class="controls">
          <button type="submit" class="btn block">Create Your Account</button>
        </div>
      </form>
    </div>
  </div>
<app-register></app-register>
</div>