<div class="span12">
  <div class="span11 well card-view  ">
    <div class="row">
      <div class="span10 ">
        <h3>Account Settings</h3>
        <p>From your account, you can get the history of your orders and update your information. Please fill in your information
          to better navigate TechStamp.</p>
      </div>
    </div>
  </div>
  <div class="span11 well">
    <div class="row">
      <div class="span8">
        <h3>Account Information</h3>
        <br>
      </div>
      <div class="span2 pull-right">
        <a [ngx-scroll-to]="'#personalDetail'" [ngx-scroll-to-offset]="450" (click)="showUpdateProfile = true" class="defaultBtn">Profile Settings</a>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <a href="#">
          <img src="{{currentUser.profilePictureUrl}}" name="aboutme" width="140" height="140" class="img-circle">
        </a>
      </div>
      <div class="span8">
        <h4>{{currentUser.personalDetail.gender}} {{currentUser.personalDetail.firstname}} {{currentUser.personalDetail.lastname}}</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a inventore voluptates laborum ipsam earum deleniti
          nesciunt soluta commodi minus hic velit cupiditate repellendus dignissimos excepturi aperiam, id quam amet.</p>
        <hr>
      </div>

    </div>
    <div class="row">
      <div class="span3">
        <div *ngIf="currentUser.personalDetail.length">
          <h3>Personal Detail</h3>
          <h5>Phone:</h5>
          <p>+{{currentUser.personalDetail.phone}}</p>
          <h5>Birthday:</h5>
          <p> {{currentUser.personalDetail.day}}/{{currentUser.personalDetail.month}}/{{currentUser.personalDetail.year}}</p>
          <h5>Email:</h5>
          <p> {{currentUser.email}}</p>
          <a href="#" class="defaultBtn">Change password</a>
        </div>

      </div>
      <div class="span8">
        <h3>Address</h3>
        <div class="row">
          <div class="span8" *ngFor="let address of currentUser.addresses">
            <div class="well well-small">
              {{address.address}} {{address.indication}}
              <b>Region:</b> {{address.region}}
              <br>
              <b>State:</b> {{address.state}}
              <br>
              <b>Code:</b> {{address.code}}
              <a class="btn btn-mini pull-right" href="#">View more
                <span class="icon-plus"></span>
              </a>
              <a class="btn btn-mini pull-right" style="color: red" (click)="dispalyDeleteAddressAlert(address.id)">
                <span class="icon-trash"></span>
              </a>
              <div *ngIf="addressToDeleteId===address.id" class="alert alert-info" style="margin-top: 20px;">
                <p>Are you sure to delete this address..?</p>
                <a style="margin-right: 30px;" (click)="deleteAddress(address.id)">oui</a>
                <a (click)="addressToDeleteId=''">non</a>
              </div>

            </div>
          </div>
        </div>
        <a class="shopBtn" href="#aboutModal" data-toggle="modal" data-target="#myModal" title="add to cart"> Add Address </a>

      </div>
    </div>
  </div>
  <div id="personalDetail" *ngIf="currentUser.firstTime || showUpdateProfile">
    <div class="span12">

      <app-personal-detail [personalDetail]="currentUser.personalDetail"></app-personal-detail>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="myModalLabel">New Address</h4>
        </div>
        <div class="modal-body">
          <app-addresses></app-addresses>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>close</button>
        </div>
      </div>
    </div>
  </div>
</div>