<li class="span2 card-view" style="margin-bottom: 30px;">
  <div class="thumbnail">
    <a class="zoomTool" [routerLink]="['/product/'+product.id]" title="add to cart">
      <span class="icon-search"></span> QUICK VIEW</a>
    <a [routerLink]="['/product/'+product.id]">
      <img src="{{product.image}}" alt="" style="height:100px;">
    </a>
    <div class="caption cntr">
      <p>{{product.name}}</p>
      <p>
        <strong> {{product.price}} | TDN</strong>
      </p>
      <h4>
        <a class="shopBtn" href="#" title="add to cart"> Add to cart </a>
      </h4>
      <div class="actionList" style="text-align: center" style="margin-top: 10px;">
        <p>
          <a class="" (click)="addToWishList()" *ngIf="canAddToWishList">Add to Wish List </a>
          <a class="" [routerLink]="['/wish-list']" style="color:#fc704b" *ngIf="!canAddToWishList">Go to Wish List </a>
          
        </p>
        <p>
          <a class="" > Add to Compare </a>
        </p>
      </div>
      <br class="clr">
    </div>
  </div>
</li>