/* You can add global styles to this file, and also import other style files */

body{
    zoom: 90%;
    font-family: courier;
}

.card-view {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.raisedbox {
    padding: 10px;
    height: auto;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #e9ebee;
    background-repeat: no-repeat;
    background-size: 100% ;
    margin-bottom: 40px;
}