p{
    text-align: justify;
    font-size: 0.9em;
    padding: 10px;
}

.card-view {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    
}